.login-background-image {
    position: absolute;
    top: 0;
    left: 0;
    background: url(/public/images/login-background-image.jpg) no-repeat;
    background-size:cover;
    /*opacity: 0.5;*/
}

.login-background-image:after {
    content: '';
    position: absolute;
    top:0; left:0;
    background:rgba(0,0,0,0.7);
    margin: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
}

.login-foreground-container {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
}

#login_form {
    width: 384px;
    max-width: 384px;
    padding: 32px;
    background: #FFF;
    border-radius: 3px;
    text-align: center;
}